#main {
    color: #ffffff;
    background-color: #646464;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 125%;
    line-height: 150%;
}

#tr {
    color: #ffffff;
    background-color: #646464;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 125%;
}